* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	color: #010101;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color:#fbdf12;
}

a:hover {
	opacity: 1;
}


.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #ffffff;
	opacity: 1;
	transition: all 400ms;

	padding: 20px 46px;
}

.btn-submit {
	color: #fff;
	border: #fff;
}

.btn:hover {
	background-color: #1e00c6;
	cursor: pointer;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

section:not(.header-section):nth-child(even) {
	background-color: #1e00c6;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: rgb(236, 249, 46);
	border: 0;
	margin-bottom: 50px;
}

.image-1 {
	background-image: url("../images/foto5.jpg");
}

.image-2 {
	background-image: url("../images/foto4.jpg");
}

.image-3 {
	background-image: url("../images/foto2.jpg");

}

.image-4 {
	background-image: url("../images/foto1.jpg");
}

section h3.title {
	text-transform: capitalize;
	font: bold 48px "Amatic SC", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

/*Header Styles*/

header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color:rgb(236, 249, 46);
	z-index: 2;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-family: "Amatic SC", sans-serif;
}

header nav {
	display: flex;
	margin-right: -15px;
}

header nav li {
	margin: 0 15px;
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}
}



.header-section {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: rgb(236, 249, 46);
}

.header-section .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #014bc3;
}

.header-section h1 {
	font: 72px "Amatic SC", sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 15px;
}

.header-section h3 {
	font: 28px "Raleway", sans-serif;
	font-weight: 300;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
}

a .btn {
	padding: 20px 46px;
}

.header-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.header-section {
		min-height: 600px;
	}

	.header-section h1 {
		font-size: 48px;
	}

	.header-section h3 {
		font-size: 24px;
	}

	.header-section a.btn {
		padding: 15px 40px;
	}
}

/*nosotros Section*/

.nosotros .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.nosotros .grid li.small {
	flex-basis: 30%;
}

.nosotros .grid li.large {
	flex-basis: 70%;
}

@media (max-width: 1100px) {

	.nosotros .grid li.small,
	.nosotros .grid li.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {

	.nosotros .grid li.small,
	.nosotros .grid li.large {
		flex-basis: 100%;
	}
}

/*Packages Section*/

.packages .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.packages .grid li i {
	color: rgb(236, 249, 46);
}

.packages .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}

@media (max-width: 800px) {
	.packages .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

/*Testimonials Section*/

.testimonials .quote {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
	margin: 40px 0 25px;
}

@media (max-width: 800px) {
	.testimonials .quote {
		font-size: 18px;
		margin: 15px 0;
	}

	.testimonials .author {
		font-size: 14px;
	}
}

/*Contact Section*/

.contact form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}

.contact form .btn {
	padding: 18px 42px;
}

.contact form input {
	padding: 15px;
	margin-right: 30px;
	font-size: 18px;
	color:  rgb(236, 249, 46);
	flex: 1;
}

@media (max-width: 1000px) {
	.contact form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}

/*Footer Section*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgb(236, 249, 46);
	color: #fff;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}

	footer p {
		text-align: center;
		margin-bottom: 20px;
	}

	footer ul li {
		margin: 0 8px;
	}
}



/* MODAL CSS */
.modal-section {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.4rem;
	width: 450px;
	padding: 1.3rem;
	min-height: 250px;
	position: absolute;
	top: 20%;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 15px;
	z-index: 2;
}

.modal .flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex {
	width: 100%;
}

.modal input, .input{
	padding: 0.7rem 1rem;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 0.9em;
	width: 100%;
}

.modal p {
	margin: 0.4rem 0 0.2rem;
	font-size: 1rem;
}

.btn-close {
	transform: translate(10px, -20px);
	padding: 0.5rem 0.7rem;
	background: #eee;
	border-radius: 50%;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
	z-index: 1;
}

.hidden {
	display: none;
}

.form-modal {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.error-text {
	color: red;
	font-size: 1rem;
	margin: 0.4rem 0 0.2rem;
}

.radio-section{
	display: flex;
}